.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-around;
    align-items: center;
}
.navitems{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: brown;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.navitems:hover{
    background-color: black;
}